<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reCAPTCHA Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </style>
    <script>
        function submitForm() {
            document.getElementById("captchaForm").submit();
        }

        function captchaCallback() {
            submitForm();
        }
    </script>
</head>
<body>
    <div class="center">
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form id="captchaForm" action="/verify_recaptcha" method="POST">
        <div class="g-recaptcha" data-sitekey= "{{ RECAPTCHA_SITE_KEY }}" data-theme="dark" data-callback="captchaCallback"></div>
    </form>
    </div>
</body>
</html>